<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="gescom.printer.Properties.Settings.GESCOMConnectionString"
      connectionString="&quot;Data Source=THINK;Initial Catalog=GESCOM;Persist Security Info=True;User ID=sysdba;Password=Pa$$w0rd&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>